<div class="input-group input-group-sm">
    <div class="input-group-prepend w-25">
        <span class="input-group-text rounded-0">
            {{content}}
        </span>
    </div>
    <input
        type="text"
        class="form-control"
        id={{content}}
        name={{content}}
    />
</div>